  @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
:root{
  --main-Bgcolor:#010101;
  --sec-Bgcolor:#121212;
  --light-Bgcolor:#24baef;
  --main-color:#fff;
  --wr-color:#f5c518;
  --muted-color:rgb(255,255,255,.55);
}

body {
font-family: 'Montserrat Alternates', sans-serif;
background-color:var(--main-Bgcolor) ;
color: var(--main-color) ;
}
.login{
  height: 50vh;
}
a, a:hover{
  color: var(--main-color);
  text-decoration: none;
}
input{
  background-color: transparent !important;
  color: var(--main-color) !important;
}
ul{
list-style: none;
}
ul li{
  cursor: pointer;
}
.navColor{
  background-color: var(--sec-Bgcolor) !important;
}
.navbar-brand{
  color: var(--wr-color);
}
.order-last i{
  transition: .5s;
}
.order-last i:hover{
  color: var(--wr-color);
}
.brdr{
  height: 1px;
  background-color: var(--muted-color);
}
.muted{
  color: var(--muted-color);
}
.genres{
  display: flex;
  gap: 15px;
}
.vote{
  color: var(--wr-color);
}
.footer{
  background-color: #29292938;
}
.footer .container{
  border-bottom: 1px solid var(--wr-color);
}
.foo{
  padding-left: 0;
}
.foo li{
  transition: .5s;
  width: fit-content;
}
.foo li:hover{
  color: var(--wr-color);
}
.foo li i{
  font-size: 10px;
}
h4{
  color: var(--wr-color);
}
